/* Body Style */
body {
    background-color: #BBB;
}

/* Spazio fra l'icona e il titolo */
.title-menutopbar {
    margin-left: 10px;
}

/* Empty String */
.empty {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
